/// A world holding all archetypes.
#[derive(Debug, Clone)]
pub struct World {
    {%- for archetype in ecs.archetypes %}
    pub {{ archetype.name.field | snake_case }}: {{ archetype.name.type }},
    {%- endfor %}
}

impl World {
    pub fn apply_systems(&mut self) {
        {%- for phase in ecs.phases %}
        // Execute system phase {{ phase.name.type }}
        {%- for group in ecs.scheduled_systems[phase.name] %}
            // Execute system group {{ loop.index }}
        {%- endfor %}
        {%- endfor %}

        todo!();
    }
}
